/apps/desktop_flutter/windows/flutter/generated_plugin_registrant.cc text eol=lf
/apps/desktop_flutter/windows/flutter/generated_plugin_registrant.h text eol=lf
/apps/desktop_flutter/windows/flutter/generated_plugins.cmake text eol=lf
